:root {
  --resultColum: 2;
}

.ListOfGifs {
  column-count: var(--resultColum);
  column-gap: .5em;
}

.ListOfGifs-item {
  display: inline-block;
  width: 100%;
  background-color: #eee;
}

@media (min-width: 600px) {
  :root{
    --resultColum: 3;
  }
}

@media (min-width: 800px) {
  :root{
    --resultColum: 4;
  }
}